@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto"), url(fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto Light";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), url(fonts/Roboto-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto Mono Regular";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Mono Regular"), url(fonts/RobotoMono-Regular.ttf) format("truetype");
}




/* Widget Styles */

input {

    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    
    outline: none;
    border: none;

    text-align: center;
    font-family: Roboto Mono Regular, monospace, sans-serif;
    font-size: 18px;

    color: #fff;
    background: #1d2831;

    transition: all .1s;
}

button {

    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
   
    border: none;
    outline: none;
    
    font-family: Roboto, sans-serif;
    font-size: 18px;
    
    color: #fff;
    background: #1bc497;
    
    transition: all .1s;
}

.dropdown {
    
    height: 40px;
    color: #fff;
    background: #1bc497;
 
    font-family: Roboto, sans-serif;

    position: relative;
    display: inline-block;

    width: 200px;
}

.dropdown-content {
    margin-top: 0;
    margin-bottom: 0;
    width: 200px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    color: #000;
}

.dropdown-content p {
    padding: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

input:focus {
    background: #182229;
}

input:hover {
    background: #182229;
}

button:hover {
    background: #48c9a6;
}

button:active {
    background: #94c5b8;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown p:hover {
    background-color: #1bc497;
    color: #fff;
}

.setCopy:hover {
    background-color: #1bc497 !important;
}

.setCopy:active {
    background-color: #94c5b8 !important;
}





/* Global Layout */

html {
    height: 100%;
}

body {

    margin: 0;
    height: 100%;
    background-color: #1d2831;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left {

    flex: 1 0;
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#right {
    
    flex: 3 0;
    margin: 10px;
    margin-left: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* Left Area */

#left > #display {

    flex: 1 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#left > #inputs {

    flex: 1 0;
    
    background-color: #24313c;
    padding-top: 5px;
    padding-bottom: 5px;
    
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#left > #inputs .row {
    
    flex: 1 0 auto;
    margin: 5px;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

#left > #inputs .row button {
    flex: 1 0;
    width: 100%;
}

#left > #inputs .row input {
    flex: 1 0;
    width: 100%;
}

svg.clockDiagram g text {
    font-family: Roboto, sans-serif;
    font-size: 20px;
}

svg.clockDiagram #noteRings circle {
    fill: rgba(0,0,0,0);
    stroke-width: 5;
    stroke: #1d2831;
    transition: all .1s;
}

svg.clockDiagram #noteRings circle:hover {
    stroke: #1ab188;
    stroke-width: 4;
}



/* Right Area */

#right {
    
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    background: #24313c;
    color: #fff;
    
    font-family: Roboto Mono Regular, monospace, sans-serif;
    font-size: 18px;
    font-weight: normal;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#right > #header {

    flex: 0 0 60px;
    padding-left: 5px;
    margin-bottom: 10px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#right > #header > #name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#right > #inputs {

    margin-top: 5px;
    flex: 0 0 50px;

    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
}

#right > #setTable {
    flex: 8 0;
    overflow: auto;
}


#right > #header > #name {
    font-size: 48px;
    font-family: Roboto Light, sans-serif;
}

#sortMethod {
    padding-top: 10px;
    margin-right: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sortMethod span {
    height: 40px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#right > #inputs button {
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    margin-bottom: 10px;
}

#right > #inputs input {
    height: 34px;
    margin-bottom: 10px;
}

#right > #inputs > #allSets {
    margin-left: 1px;
}

#right > #inputs > #sizeInput, #pvInput {
    width: 100px;
}

#right > #inputs > #uivInput {
    width: 180px;
}

#right > #inputs > #weightInput {
    margin-left: 0px;
    min-width: 380px;
}

#setTable table {
    width: 100%;
}

#setTable thead {
    text-align: left;
}

#setTable td {
    background-color: #1d2831;
    padding: 10px;
    font-size: 16px;
}


/* todo: svg is still a bit wide for mobile */
@media (max-width: 1000px) {
    #right {
        display: none;
    }
}


